<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
 <div class="row">
    <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="user in users">
          <strong>{{user.name}}</strong><br>
          <span class="text-muted">{{user.email}}</span>
          <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h1>Add User</h1>
      <p ng-show="result">{{result}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form class="form" name="form" ng-submit="addUser(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div class="row">
          <div class="btn-group">
            <label class="btn btn-primary" ng-repeat="role in roles" ng-model="userRole" btn-radio="'{{role}}'">{{role}}</label>
          </div>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Add
          </button>
        </div>

      </form>
    </div>
  </div>
</div>