<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-hide="isReady">
  <div class="row">
    <h2> Administration Panel </h2>
    <p> Status: Please refresh the page </p>
  </div>
</div>
<div class="container" ng-show="isAdmin && isReady">
  <div class="row">
    <h2> Administration Panel </h2>
    <p ng-show="status">Status: {{status}}</p>
  </div>

  <tabset justified="true" style="border: 1px;">
    <tab heading="Users">
      <div class="row col-lg-12">
        <ul style="margin-top: 20px;" class="list-group">
          <li class="list-group-item"
            ng-repeat="user in users | orderBy:'role'">
            <strong>{{user.name}} ({{user.role}}) </strong><br>
            <span class="text-muted">{{user.email}}</span>
            <a ng-click="deleteUser(user)" class="trash">
              <span class="glyphicon glyphicon-trash pull-right"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h1>Add User</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form class="form" name="htmlUserForm"
            ng-submit="addUser(htmlUserForm)" novalidate>

            <div class="form-group" ng-class="{
              'has-success': htmlUserForm.name.$valid && userFormSubmitted,
              'has-error': htmlUserForm.name.$invalid && userFormSubmitted
            }">
              <label>Name</label>

              <input type="text" name="name" class="form-control"
                ng-model="userForm.name"
                     required/>
              <p class="help-block"
                ng-show="htmlUserForm.name.$error.required && userFormSubmitted">
                A name is required
              </p>
            </div>

            <div class="form-group" ng-class="{
              'has-success': htmlUserForm.email.$valid && userFormSubmitted,
              'has-error': htmlUserForm.email.$invalid && userFormSubmitted }">
              <label>Email</label>

              <input type="email" name="email" class="form-control"
                ng-model="userForm.email" required mongoose-error/>
              <p class="help-block"
                ng-show="htmlUserForm.email.$error.email && userFormSubmitted">
                Doesn't look like a valid email.
              </p>
              <p class="help-block"
                ng-show="htmlUserForm.email.$error.required && userFormSubmitted">
                What's your email address?
              </p>
              <p class="help-block" ng-show="htmlUserForm.email.$error.mongoose">
                {{ errors.email }}
              </p>
            </div>

            <div class="form-group" ng-class="{
              'has-success': htmlUserForm.password.$valid && userFormSubmitted,
              'has-error': htmlUserForm.password.$invalid && userFormSubmitted }">
              <label>Password</label>

              <input type="password" name="password" class="form-control"
                ng-model="userForm.password" ng-minlength="3"
                required mongoose-error/>
              <p class="help-block" ng-show="(htmlUserForm.password.$error.minlength ||
                htmlUserForm.password.$error.required) && userFormSubmitted">
                Password must be at least 3 characters.
              </p>
              <p class="help-block" ng-show="htmlUserForm.password.$error.mongoose">
                {{ errors.password }}
              </p>
            </div>

            <div class="form-group">
              <div class="btn-group">
                <label class="btn btn-info" ng-repeat="role in userRoles"
                  ng-model="userForm.role" btn-radio="'{{role}}'">
                  {{role | capitalize}}
                </label>
              </div>
            </div>

            <div>
              <button class="btn btn-primary btn-lg btn-login" type="submit">
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </tab>

    <tab heading="Lots">
      <div class="row col-lg-12">
        <ul style="margin-top: 20px;" class="list-group">
          <li class="list-group-item"
            ng-repeat="lot in lots | orderBy:'name'">
            <strong>{{lot.name}}</strong><br />
            <span class="text-muted">{{lot.info}}</span>
            <a ng-click="deleteLot(lot)" class="trash">
              <span class="glyphicon glyphicon-trash pull-right"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h1>Add Lot</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form class="form" name="htmlLotForm"
            ng-submit="addLot(htmlLotForm)" novalidate>

            <div class="form-group" ng-class="{
              'has-success': htmlLotForm.name.$valid && lotFormSubmitted,
              'has-error': htmlLotForm.name.$invalid && lotFormSubmitted
            }">
              <label>Name</label>

              <input type="text" name="name" class="form-control"
                ng-model="lotForm.name"
                     required/>
              <p class="help-block"
                ng-show="htmlLotForm.name.$error.required && lotFormSubmitted">
                A name is required
              </p>
            </div>

            <div class="form-group" ng-class="{
              'has-success': htmlLotForm.info.$valid && lotFormSubmitted,
              'has-error': htmlLotForm.info.$invalid && lotFormSubmitted
            }">
              <label>Info</label>

              <input type="text" name="info" class="form-control"
                ng-model="lotForm.info"/>
            </div>

            <div>
              <button class="btn btn-primary btn-lg btn-login" type="submit">
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </tab>
  </tabset>
</div>
